.rating__submit-button {
    min-width: 100%;
    height: toRem(45);
    background-color: $orange;
    color: #FFF;
    font-size: toRem(14);
    font-weight: 700;
    text-transform: uppercase;
    line-height: toRem(18);
    letter-spacing: toRem(1.87);
    border-radius: toRem(22.5);
    &:hover {
        background-color: #FFF;
        color: $orange;
    }
    // Removes Bootstrap active pseudo-class style
    &:active {
        background-color: $orange !important;
    }
    &:focus {
        border: none;
    }
}