.main-container {
    width: toRem(327);
}
.card-container {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: toRem(15);
    h1, h2 {
        font-weight: 700;
        font-size: toRem(24);
        line-height: toRem(30);
    }
    p {
        font-size: toRem(14);
        color: $lightGrey;
        line-height: toRem(22);
    }
}
.rating {
    padding: toRem(24) toRem(24) toRem(32) toRem(24);
    h1 {
        margin-bottom: toRem(17) !important;
    }
    p {
        margin-bottom: toRem(24) !important;
    }
    &__star-icon {
        margin-bottom: toRem(16);
        &--oval {
            width: toRem(40);
            height: toRem(40);
            background-color: $darkBlue;
            border-radius: 50%;
        }
        &--icon {
            width: toRem(13.96);
            height: toRem(13.33);
        }
    }
    &__items {
        width: 100%;
        display: flex;
        column-gap: toRem(18);
        margin-bottom: toRem(24);
    }
    &__item {
        color: $mediumGrey;
        font-weight: 700;
        font-size: toRem(14);
        line-height: toRem(24);
        text-align: center;
        letter-spacing: toRem(.175);
        border-radius: 50%;
        &--oval {
            cursor: pointer;
            width: toRem(42);
            height: toRem(42);
            background-color: $darkBlue;
            border-radius: 50%;
            transition: .2s;
            span {
                transition: .2s;
            }
            &:hover {
                background-color: $orange;
                span {
                    color: #FFF;
                }
                + div {
                    background-color: $mediumGrey;
                    span {
                        color: #FFF;
                    }
                }
            }
        }
    }
    .before-selected {
        background-color: $mediumGrey;
        span {
            color: #FFF;
        }
    }
    .selected {
        background-color: $orange;
        span {
            color: #FFF;
        }
    }
    .error p {
        color: red;
    }
}
.thanks {
    padding: toRem(34) toRem(24) toRem(37) toRem(24);
    img {
        margin-bottom: toRem(24) !important;
    }
    .user-rating {
        margin-bottom: toRem(29) !important;
        padding: toRem(5) toRem(12);
        background-color: $darkBlue;
        color: $orange;
        border-radius: toRem(22.5);
    }
    h2 {
        margin-bottom: toRem(10) !important;
        line-height: toRem(30);
    }
    p {
        font-size: toRem(14);
        line-height: toRem(22);
        text-align: center;
    }
}