* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    line-height: toRem(24);
}

p {
    font-size: toRem(15);
}