* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(216, 12%, 8%);
  color: #FFF;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

p {
  font-size: 0.9375rem;
}

.rating__submit-button {
  min-width: 100%;
  height: 2.8125rem;
  background-color: hsl(25, 97%, 53%);
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.125rem;
  letter-spacing: 0.116875rem;
  border-radius: 1.40625rem;
}
.rating__submit-button:hover {
  background-color: #FFF;
  color: hsl(25, 97%, 53%);
}
.rating__submit-button:active {
  background-color: hsl(25, 97%, 53%) !important;
}
.rating__submit-button:focus {
  border: none;
}

.main-container {
  width: 20.4375rem;
}

.card-container {
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 0.9375rem;
}
.card-container h1, .card-container h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.card-container p {
  font-size: 0.875rem;
  color: hsl(217, 12%, 63%);
  line-height: 1.375rem;
}

.rating {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}
.rating h1 {
  margin-bottom: 1.0625rem !important;
}
.rating p {
  margin-bottom: 1.5rem !important;
}
.rating__star-icon {
  margin-bottom: 1rem;
}
.rating__star-icon--oval {
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
}
.rating__star-icon--icon {
  width: 0.8725rem;
  height: 0.833125rem;
}
.rating__items {
  width: 100%;
  display: flex;
  column-gap: 1.125rem;
  margin-bottom: 1.5rem;
}
.rating__item {
  color: hsl(216, 12%, 54%);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.0109375rem;
  border-radius: 50%;
}
.rating__item--oval {
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  transition: 0.2s;
}
.rating__item--oval span {
  transition: 0.2s;
}
.rating__item--oval:hover {
  background-color: hsl(25, 97%, 53%);
  /*
  + div {
      background-color: $mediumGrey;
      span {
          color: #FFF;
      }
  }
  */
}
.rating__item--oval:hover span {
  color: #FFF;
}
.rating .before-selected {
  background-color: hsl(216, 12%, 54%);
}
.rating .before-selected span {
  color: #FFF;
}
.rating .selected {
  background-color: hsl(25, 97%, 53%);
}
.rating .selected span {
  color: #FFF;
}
.rating .error p {
  color: #CD0101;
}

.thanks {
  padding: 2.125rem 1.5rem 2.3125rem 1.5rem;
}
.thanks img {
  margin-bottom: 1.5rem !important;
}
.thanks .user-rating {
  margin-bottom: 1.8125rem !important;
  padding: 0.3125rem 0.75rem;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  border-radius: 1.40625rem;
}
.thanks h2 {
  margin-bottom: 0.625rem !important;
  line-height: 1.875rem;
}
.thanks p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .main-container {
    width: 25.75rem;
  }
  .rating {
    padding: 2rem;
    border-radius: 1.875rem;
  }
  .rating h1 {
    margin-bottom: 0.4375rem !important;
    font-size: 1.75rem;
    line-height: 2.1875rem;
  }
  .rating p {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
  .rating__star-icon {
    margin-bottom: 1.875rem;
  }
  .rating__star-icon--oval {
    width: 3rem;
    height: 3rem;
  }
  .rating__star-icon--icon {
    width: 1.046875rem;
    height: 1rem;
  }
  .rating__items {
    display: flex;
    justify-content: space-between;
    column-gap: 1.3125rem;
    margin-bottom: 2rem;
  }
  .rating__item {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
  }
  .rating__item--oval {
    width: 3.1875rem;
    height: 3.1875rem;
  }
  .rating__submit-button {
    width: 21.3125rem;
    line-height: 1.1875rem;
    font-size: 0.9375rem;
  }
  .thanks {
    padding: 2.8125rem 2.5rem;
    border-radius: 1.875rem;
  }
  .thanks img {
    margin-bottom: 2rem !important;
  }
  .thanks .user-rating {
    margin-bottom: 2rem !important;
  }
  .thanks h2 {
    font-size: 1.75rem;
    margin-bottom: 0.9375rem !important;
    line-height: 2.1875rem;
  }
  .thanks p {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
  .thanks__caption {
    width: 21.25rem;
  }
}/*# sourceMappingURL=main.css.map */