@mixin headingLarge {
    font-size: toRem(28);
    font-weight: 700;
}

@mixin headingMedium {
    font-size: toRem(15);
    font-weight: 700;
    letter-spacing: toRem(2);
}

@mixin rating {
    font-size: toRem(16);
    font-weight: 700;
    line-height: toRem(24);
    letter-spacing: toRem(.2);
}